{% extends 'base.html.twig' %}
{% block title %}Pregled planova nabave {% endblock %}
{% block body %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/styles/plans.css"/>
    
    <header>
        <div class="note">PREGLED PLANOVA NABAVE</div>
        <select class="list" id="list-user" onchange="getSelectedValueByUser();">
            <option value="showAll">Pretraži po izvršitelju..</option>
                {% for user in users %}
                    <option value="{{user.function}}">{{user.function}}</option>
                {% endfor %}
        </select>

        <select class="list" id="list-year" onchange="getSelectedValueByYear();">
            <option value="showAll">Pretraži po godini..</option>
            {% for year in years %}
                <option value="{{year.kalendarskaGodina}}">{{year.kalendarskaGodina}}</option>
            {% endfor %}
        </select>


    </header>
            {% for year in years %}
                <table id="{{year.id}}" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Planovi</th>
                            <th class="year">{{year.kalendarskaGodina}}</th>
                            <th>Izvršitelj</th>
                            <th>Opcije</th>
                            <th>Trošak</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr id="{{user.id}}">
                            <td> Plan nabave {{year.kalendarskaGodina}} </td>
                            <td> </td>
                            <td> <span class="executioner">{{user.function}}</span></td>
                            <td>
                            {% if totalExpenses.sumUserAnnualExpenses(user.id,year.id) > 0 %}
                                <a href="/showPlan/{{user.id}}/{{year.id}}" class="btn btn-dark">Prikaži </a>
                            {% else %}
                                
                                             neobjavljen
                                    
                            {% endif %}
                            </td>
                            <td class="expenses">
                            {% if not is_granted('ROLE_STUDENT') %}

                                {% if (totalExpenses.sumUserAnnualExpenses(user.id,year.id)) > 0 %}

                                    {% if status.readStatus(user.id,year.id)=='izvršen' %}
                                        <div class="autorized">
                                            <b>{{totalExpenses.sumUserAnnualExpenses(user.id,year.id)}}</b> kn
                                        </div>

                                    {% else %}
                                        <div class="unautorized">
                                            <b>{{totalExpenses.sumUserAnnualExpenses(user.id,year.id)}}</b> kn
                                        </div>
                                    {% endif %}

                                {% else %}
                                        

                                {% endif %}

                            {% else %}
                                <style>
                                   .expenses{background-color:black;color:red;font-size:16px;}
                                </style>
                                Privatan podatak
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                        <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="sum">
                            {% if not is_granted('ROLE_STUDENT') %}
                                <b>{{annualExpenses.sumAnnualExpenses(year.id)}} kn</b>
                            {% else %}
                                <style>
                                    .sum{background-color:black;color:red;font-size:16px;}
                                </style>
                               Privatan podatak

                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            {% endfor %}

{% block javascript %}
    <script src="/js/plans.js"></script>
{% endblock %}
        
{% endblock %}

